---
import '~/styles/global.css';

import Hero from '~/components/HomeHero.astro';
import { Sparkles } from '~/components/react/sparkle';
import MainLayout from '~/layouts/Main.astro';
---

<MainLayout>
  <div class="h-30"></div>
  <main class="flex gap-y-10 flex-col">
    <Hero id="hero" />
    <section>
      <div class="relative">
        <div class="absolute left-0 bottom-30" id="skills" />
        <a href="#skills">
          <Sparkles client:load>
            <h2 class="text-3xl uppercase tracking-widest">Skills</h2>
          </Sparkles>
        </a>
      </div>
      <div class="flex-col w-full p-4 mt-4 rounded-2xl">
        <div class="flex flex-wrap gap-4 justify-start md:justify-between">
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
        </div>
        <div class="flex flex-wrap mt-4 gap-4 justify-start md:justify-between">
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
        </div>
        <div class="flex flex-wrap mt-4 gap-4 justify-start md:justify-between">
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
          <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="relative">
        <div class="absolute left-0 bottom-30" id="projects" />
        <a href="#projects">
          <Sparkles client:load>
            <h2 class="text-3xl uppercase tracking-widest">Projects</h2>
          </Sparkles>
        </a>
      </div>
      <div class="w-full h-60 p-4 mt-4 ring-1 rounded-2xl">
        <!-- Projects section -->
      </div>
    </section>
    <section>
      <div class="relative">
        <div class="absolute left-0 bottom-30" id="experience" />
        <a href="#experience">
          <Sparkles client:load>
            <h2 class="text-3xl uppercase tracking-widest">Experience</h2>
          </Sparkles>
        </a>
      </div>
      <div class="w-full h-60 p-4 mt-4 ring-1 rounded-2xl">
        <!-- Experience section -->
      </div>
    </section>
    <hr class="w-full h-2 "/>
    <aside class="w-full h-90 hidden md:flex align-middle justify-center items-center">
      <div class="border-white border-2 w-[33%] h-full"></div>
    </aside>      
  </main>
</MainLayout>
