---
import '~/styles/global.css';

import Hero from '~/components/HomeHero.astro';
import MainLayout from '~/layouts/Main.astro';
---

<MainLayout>
  <main class="mx-auto flex w-full min-h-dvh max-w-(--breakpoint-xl) flex-col">
    <Hero id="hero" />
  </main>
</MainLayout>
