---
import '~/styles/global.css';

import Hero from '~/components/HomeHero.astro';
import MainLayout from '~/layouts/Main.astro';
---

<MainLayout>
  <div class="h-30"></div>
  <main class="flex gap-y-10 flex-col">
    <Hero id="hero" />
    <section>
      <a href="#skills">
        <h2 class="text-3xl">Skills</h2>
      </a>
    </section>
    <section>
      <a href="#projects">
        <h2 class="text-3xl">Projects</h2>
      </a>
    </section>
    <section>
      <a href="#experience">
        <h2 class="text-3xl">Experience</h2>
      </a>  
    </section>      
  </main>
</MainLayout>
