---
import '~/styles/global.css';

import Hero from '~/components/HomeHero.astro';
import { Sparkles } from '~/components/react/sparkle';
import MainLayout from '~/layouts/Main.astro';
---

<MainLayout>
  <div class="h-30"></div>
  <main class="flex gap-y-10 flex-col">
    <Hero id="hero" />
    <section>
      <a href="#skills">
        <Sparkles client:load>
          <h2 id="skills" class="text-3xl uppercase tracking-widest scroll-m-20">Skills</h2>
        </Sparkles>
      </a>
      <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4 w-full p-4 mt-4 rounded-2xl">
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
        <div class="h-20 w-20 bg-muted ring-2 ring-muted-foreground rounded-2xl">
        </div>
      </div>
    </section>
    <section>
      <a href="#projects">
        <Sparkles client:load>
          <h2 id="projects" class="text-3xl uppercase tracking-widest scroll-m-20">Projects</h2>
        </Sparkles>
      </a>
      <div class="w-full h-60 p-4 mt-4 ring-1 rounded-2xl">
        <!-- Projects section -->
      </div>
    </section>
    <section>
      <a href="#experience">
        <Sparkles client:load>
          <h2 id="experience" class="text-3xl uppercase tracking-widest scroll-m-20">Experience</h2>
        </Sparkles>
      </a>
      <div class="w-full h-60 p-4 mt-4 ring-1 rounded-2xl">
        <!-- Experience section -->
      </div>
    </section>
    <hr class="w-full h-2 "/>
    <aside class="w-full h-90 hidden md:flex align-middle justify-center items-center">
      <div class="border-white border-2 w-[33%] h-full"></div>
    </aside>      
  </main>
</MainLayout>
