---
import { getCollection } from 'astro:content';

import BlogPostCard from '~/components/BlogPostCard.astro';
import MainLayout from '~/layouts/Main.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainLayout>
  <main
    class="grid mx-auto min-h-screen py-32 w-full max-w-(--breakpoint-xl) grid-cols-[1fr_min(75ch,calc(100%-1.5rem))_1fr] *:col-start-2 px-6"
  >
    <section class="row-span-1 flex flex-col gap-y-6">
      <ul class="flex flex-col gap-y-6">
        {
          posts.map(async (post) => {
            return (
              <li>
                <BlogPostCard post={post} />
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</MainLayout>
