---
import { getCollection } from 'astro:content';
import { blurhashToCssGradientString } from '@unpic/placeholder';

import Metadata from '~/components/Metadata.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '~/consts';
import Navbar from '~/components/Navbar.astro';
import { getImage } from '~/lib/utils';
import { GET as getBlurhashes } from '~/pages/blurhash.json';
import BlogPostCard from '~/components/BlogPostCard.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const blurhashes = await getBlurhashes().then((res) => res.json());
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Metadata title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navbar />
    <main
      class="grid mx-auto min-h-screen mt-6 w-full max-w-screen-xl grid-cols-[1fr_min(75ch,_calc(100%_-_1.5rem))_1fr] py-8 [&>*]:col-start-2 px-6"
    >
      <section class="row-span-1 flex flex-col gap-y-6">
        <ul class="flex flex-col gap-y-6">
          {
            posts.map(async (post) => {
              return (
                <li>
                  <BlogPostCard post={post} blurhashes={blurhashes} />
                </li>
              );
            })
          }
        </ul>
      </section>
    </main>
  </body>
</html>
