---
import Footer from '~/components/Footer.astro';
import HalftoneEffect from '~/components/HalftoneEffect.astro';
import Metadata from '~/components/Metadata.astro';
import Navbar from '~/components/Navbar.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
---

<html lang="en" class="dark antialiased">
  <head>
    <Metadata title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="box-border min-h-screen m-0 p-0">
      <Navbar />
      <div class="grid mx-auto w-full min-h-dvh max-w-(--breakpoint-xl) grid-cols-[1fr_min(75ch,calc(100%-1.5rem))_1fr] px-6">
        <div class="col-start-2 flex flex-col gap-y-20">
          <slot />
          <hr class="w-full h-1"/>
        </div>
      </div>
      <Footer />
      <HalftoneEffect />
    </div>
  </body>
</html>
