---
import HalftoneEffect from '~/components/HalftoneEffect.astro';
import Metadata from '~/components/Metadata.astro';
import Navbar from '~/components/Navbar.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
---

<html lang="en" class="dark antialiased">
  <head>
    <Metadata title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="box-border min-h-screen m-0 p-0">
      <Navbar />
      <slot class="mx-auto flex w-full min-h-dvh max-w-(--breakpoint-xl) flex-col" />
      <HalftoneEffect />
    </div>
  </body>
</html>
