---
import HalftoneEffect from '~/components/HalftoneEffect.astro';
import Metadata from '~/components/Metadata.astro';
import Navbar from '~/components/Navbar.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
---

<html lang="en" class="dark antialiased">
  <head>
    <Metadata title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="box-border min-h-screen m-0 p-0">
      <Navbar />
      <div class="grid mx-auto w-full min-h-dvh max-w-(--breakpoint-xl) grid-cols-[1fr_min(75ch,calc(100%-1.5rem))_1fr] px-6">
        <div class="col-start-2 flex flex-col gap-y-20">
          <slot />
          <hr class="w-full h-1"/>
            <footer class="w-full my-20 flex justify-center">
              <small class="font-mono text-center">
                <span class="text-muted-foreground">(C) 2025 Pablo Hernández.</span> Made with 
                <span class="sr-only">love</span>
                <div class="inline-block relative mx-1 h-2 w-2 align-[-0.125em]">
                  {/* Static heart (top layer) */}
                  <div class="absolute inset-0 z-10 bg-red-600 rotate-[-45deg] shadow-[0_0_8px_2px_theme(colors.red.400)] before:content-[''] before:absolute before:h-2 before:w-2 before:bg-red-600 before:rounded-full before:left-0 before:-top-1/2 after:content-[''] after:absolute after:h-2 after:w-2 after:bg-red-600 after:rounded-full after:top-0 after:left-1/2">
                  </div>
                  {/* Pinging heart (bottom layer) */}
                  <div class="absolute inset-0 z-0 bg-red-600 rotate-[-45deg] shadow-red-500 shadow-lg animate-ping before:content-[''] before:absolute before:h-2 before:w-2 before:bg-red-600 before:rounded-full before:left-0 before:-top-1/2 after:content-[''] after:absolute after:h-2 after:w-2 after:bg-red-600 after:rounded-full after:top-0 after:left-1/2">
                  </div>
                </div>
              </small>
            </footer>
        </div>
      </div>
      <HalftoneEffect />
    </div>
  </body>
</html>
