<div tabindex="-1" aria-hidden="true" class="h-full w-full halftone-bg"></div>

<style>
  .halftone-bg {
    background-image: var(--background-image);
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-size: 128px;
    opacity: 0.06;
    z-index: 50;
    pointer-events: none;
    inset: 0;
    flex: none;
    position: absolute;
  }
</style>
