---
import { Button } from '@portfolio/ui/button';

import Github from "~/components/svg/Github.astro";
import LinkedIn from "~/components/svg/LinkedIn.astro";
import ComicBubble from './ComicBubble.astro';

const { class: string, ...props } = Astro.props;
---

<section
  class:list={[
    props.class,
    'relative grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-x-8 grow py-5 overflow-visible',
  ]}
  ,
  {...props}
>
  <div class="flex w-fit flex-col justify-center mx-auto md:mx-0 text-center md:text-left mb-6 md:mb-0">
    <div class="flex flex-row items-center justify-center md:justify-start w-full gap-x-4">
      <h2 class="text-sm md:text-xl font-thin uppercase tracking-widest">@hadronomy</h2>
      <a href="https://github.com/hadronomy" target="_blank" aria-label="GitHub"><Github class="w-5" /></a>
      <a href="https://www.linkedin.com/in/hadronomy/" target="_blank" aria-label="LinkedIn"><LinkedIn class="w-5 text-foreground" /></a>
    </div>
    <h1 class="mt-2 text-4xl sm:text-5xl md:text-6xl">
      <span class="font-bellota">I&apos;m </span>
      <span class="font-semibold">Pablo</span>
    </h1>
    <h1 class="font-bellota text-4xl sm:text-5xl font-semibold md:text-6xl">Hernandez</h1>
    <div class="flex justify-between w-full md:justify-between items-center mt-1 gap-2">
      <div class="inline-flex justify-center md:justify-start items-center gap-2">
        <div class="relative inline-flex">
          <span class="inline-flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
          </span>
        </div>
        <span class="text-sm font-medium">Open to work</span>
      </div>
      <Button className="cursor-pointer relative" variant="linkHover2">
        <ComicBubble class="hidden md:block absolute top-2 left-24 pointer-events-none" position="right-up">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672ZM12 2.25V4.5m5.834.166-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243-1.59-1.59" />
          </svg>          
        </ComicBubble>
        <span>
          Download CV
        </span>
      </Button>
    </div>
  </div>
  <div class="flex items-center p-3 justify-center relative overflow-visible">
    <!-- Top-left corner cross -->
    <div class="absolute top-0 left-0 z-10 overflow-visible pointer-events-none">
      <!-- Horizontal line - crossing through the center point -->
      <div class="absolute top-0 left-[-4px] h-[1px] w-[26px] bg-primary origin-center transform rotate-2 [filter:drop-shadow(0_0_2px_rgba(var(--color-primary-rgb),0.3))]"></div>
      <!-- Vertical line - crossing through the center point -->
      <div class="absolute top-[-4px] left-0 h-[26px] w-[1px] bg-primary origin-center transform -rotate-3 [filter:drop-shadow(0_0_2px_rgba(var(--color-primary-rgb),0.3))]"></div>
    </div>
    <!-- Bottom-right corner cross -->
    <div class="absolute bottom-0 right-0 z-10 overflow-visible pointer-events-none">
      <!-- Horizontal line - crossing through the center point -->
      <div class="absolute bottom-0 right-[-4px] h-[1px] w-[26px] bg-primary origin-center transform -rotate-2 [filter:drop-shadow(0_0_2px_rgba(var(--color-primary-rgb),0.3))]"></div>
      <!-- Vertical line - crossing through the center point -->
      <div class="absolute bottom-[-4px] right-0 h-[26px] w-[1px] bg-primary origin-center transform rotate-3 [filter:drop-shadow(0_0_2px_rgba(var(--color-primary-rgb),0.3))]"></div>
    </div>
    <p class="text-base md:text-md leading-relaxed px-2 md:px-0">
      I began coding at age <u>10</u>, progressing through languages like Basic, C++, Java, Python and everything you see in my skills by building projects. I explored frameworks, databases, and DevOps tools, constantly learning through newsletters and videos. I’ve tried most well-known technologies and frameworks.
    </p>
  </div>
</section>
