---
import { Typewritter } from '~/components/react/typewritter';

const { class: string, ...props } = Astro.props;
---

<section
  class:list={['relative flex flex-grow py-5 px-5 md:px-20 md:h-screen', props.class]}
  ,
  {...props}
>
  <div class="mt-10 flex h-fit w-full justify-center rounded-2xl text-left md:mt-0 md:h-full">
    <div class="mx-auto md:mt-52 flex flex-col space-y-5">
      <div class="flex w-fit flex-col">
        <h2 class="text-2xl font-thin uppercase tracking-widest">@hadronomy</h2>
        <h1 class="mt-2 text-6xl md:text-8xl">
          <span class="font-bellota">I&apos;m </span>
          <span class="font-semibold">Pablo</span>
        </h1>
        <h1 class="font-bellota text-6xl font-semibold md:text-8xl">Hernandez</h1>
      </div>
      <h2 class="h-[80px] max-w-[12ch] text-4xl md:max-w-[19ch]">
        <Typewritter client:load />
      </h2>
    </div>
  </div>
  <div class="bottom-0 right-0 hidden h-full w-full overflow-clip md:flex">
    {
      /* <svg
      xmlns="http://www.w3.org/2000/svg"
      width="562"
      height="459"
      viewBox="0 0 562 459"
      fill="none"
      class="mt-32"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M173.346 61.6657L173.344 61.6671L173.341 61.6697L173.34 61.6703C171.065 63.4137 169.231 64.819 168.18 65.6557C167.754 65.9923 167.501 66.4987 167.277 66.9485C167.09 67.3244 166.922 67.6607 166.689 67.8253C157.514 74.0722 148.655 81.7105 139.788 89.3551C134.969 93.5101 130.148 97.667 125.272 101.604C122.764 103.627 120.609 106.081 118.454 108.536L118.454 108.536C117.474 109.653 116.494 110.769 115.481 111.844C112.484 113.018 110.682 115.596 108.886 118.165L108.886 118.165C108.04 119.375 107.196 120.583 106.229 121.641C98.1332 130.487 88.9722 138.081 79.8092 145.676L79.8083 145.677L79.8073 145.678L79.8063 145.678L79.8053 145.679L79.8043 145.68L79.8033 145.681L79.8024 145.682L79.8014 145.683L79.8004 145.683L79.7994 145.684C76.4487 148.462 73.0977 151.239 69.7987 154.079C64.3196 158.793 58.8193 163.482 53.3191 168.171C38.6585 180.668 23.9987 193.165 9.74512 206.147C8.74443 207.061 7.51564 207.694 6.29052 208.325C2.62768 210.211 -1.00239 212.08 1.5943 221.394C1.60738 221.46 1.62329 221.551 1.63959 221.644L1.6396 221.644C1.66084 221.765 1.68272 221.89 1.69977 221.967C2.05525 224.242 3.99924 226.77 5.93926 229.294C6.87702 230.513 7.81386 231.732 8.56992 232.92C19.1011 249.477 24.4646 253.048 28.1257 246.283C28.8294 244.957 30.3477 244.494 31.8287 244.042L31.8307 244.042C31.9977 243.991 32.1643 243.94 32.3292 243.888C35.5797 242.861 39.638 239.87 42.616 237.675L42.6162 237.675L42.6196 237.673C43.091 237.325 43.5354 236.998 43.9451 236.701C44.97 235.961 45.8485 234.987 46.6577 233.919C57.3676 248.991 62.5458 252.155 65.4279 245.847C66.0095 244.589 67.405 244.156 68.7744 243.732C68.9302 243.684 69.0857 243.636 69.2396 243.587C72.2539 242.634 75.8897 239.783 78.5516 237.696C78.9632 237.373 79.3515 237.068 79.7106 236.792C81.3443 235.536 82.4768 233.567 83.5846 231.641C84.6835 229.73 85.7582 227.861 87.2738 226.773C92.4157 223.077 97.8516 219.718 103.287 216.36C103.379 216.578 103.474 216.8 103.575 217.028C103.628 217.133 103.68 217.289 103.722 217.415L103.722 217.415L103.723 217.417C103.732 217.443 103.74 217.468 103.748 217.49C103.756 217.515 103.764 217.536 103.771 217.555C104.451 219.625 106.558 222.008 108.662 224.389C109.683 225.544 110.704 226.698 111.56 227.815C113.009 229.708 114.36 231.423 115.619 232.964C115.178 233.208 114.724 233.435 114.271 233.662C110.768 235.419 107.297 237.16 110.054 246.357C110.083 246.464 110.112 246.616 110.137 246.746C110.151 246.817 110.163 246.882 110.174 246.93C110.58 249.164 112.533 251.692 114.479 254.21L114.479 254.211C115.419 255.428 116.358 256.644 117.12 257.822C127.756 274.29 133.059 277.921 136.434 271.382C137.099 270.108 138.556 269.687 139.982 269.276C140.141 269.23 140.3 269.184 140.457 269.137C143.643 268.198 147.583 265.299 150.425 263.208L150.425 263.208C150.822 262.916 151.197 262.64 151.546 262.387C153.276 261.14 154.541 259.158 155.778 257.218C157.007 255.29 158.21 253.404 159.817 252.323C165.289 248.631 171.045 245.289 176.799 241.948L176.799 241.948L176.799 241.948L176.8 241.947L176.8 241.947L176.801 241.947L176.801 241.947L176.802 241.946C180.937 239.545 185.071 237.145 189.099 234.615C189.126 234.682 189.154 234.749 189.182 234.817C189.217 234.905 189.257 235.027 189.293 235.138C189.319 235.219 189.344 235.294 189.363 235.345C190.001 237.402 192.011 239.863 194.019 242.321C194.996 243.517 195.972 244.712 196.79 245.861C199.542 249.724 201.925 252.871 203.987 255.342C192.782 265.384 181.623 275.479 170.755 285.905C169.848 286.775 168.71 287.372 167.574 287.967C164.166 289.753 160.789 291.524 163.795 300.61C163.84 300.76 163.9 301.031 163.93 301.167L163.93 301.167C164.407 303.366 166.403 305.837 168.397 308.306C169.367 309.509 170.338 310.71 171.132 311.879C171.853 312.94 172.549 313.946 173.222 314.899C169.135 318.303 165.062 321.725 161.008 325.169C159.68 326.296 158.134 327.138 156.593 327.977C151.976 330.489 147.404 332.977 148.895 343.052C148.91 343.233 148.925 343.534 148.925 343.685C148.976 346.159 150.835 348.749 152.688 351.331C153.589 352.586 154.488 353.839 155.177 355.075C164.789 372.296 170.5 375.655 175.923 367.716C177.003 366.144 178.876 365.452 180.71 364.775L180.877 364.714C181.009 364.665 181.141 364.616 181.272 364.567C185.277 363.058 190.538 359.272 194.403 356.491L194.407 356.488C195.019 356.048 195.596 355.633 196.127 355.256C198.487 353.584 200.425 351.142 202.323 348.751C204.206 346.378 206.049 344.056 208.225 342.585C215.62 337.587 223.289 332.946 230.956 328.305C242.517 321.307 254.076 314.311 264.693 306.095C276.525 296.94 287.53 286.72 298.536 276.498L298.536 276.498L298.536 276.498C301.367 273.869 304.198 271.24 307.042 268.629C300.596 275.491 293.726 281.913 286.854 288.335C283.335 291.624 279.816 294.914 276.353 298.262C270.607 303.818 264.838 309.349 259.07 314.88L259.068 314.881L259.065 314.884L259.063 314.886C243.825 329.495 228.591 344.101 213.784 359.16C212.742 360.22 211.457 361.014 210.175 361.805C206.34 364.174 202.539 366.522 205.407 375.928C205.436 376.033 205.464 376.186 205.489 376.319C205.496 376.358 205.503 376.395 205.51 376.429C205.516 376.462 205.522 376.491 205.528 376.516C205.943 378.828 208.024 381.242 210.099 383.649C211.106 384.818 212.112 385.985 212.925 387.137C216.868 392.721 220.13 396.74 222.867 399.292C217.571 403.93 212.304 408.602 207.08 413.323C205.95 414.344 204.593 415.087 203.24 415.828L203.24 415.828C199.18 418.051 195.151 420.257 197.377 429.896C197.422 430.062 197.452 430.348 197.468 430.499C197.722 432.868 199.664 435.408 201.599 437.94C202.532 439.16 203.463 440.377 204.202 441.572C214.522 458.296 220.097 461.701 224.451 454.348C225.311 452.901 226.989 452.307 228.63 451.727C228.8 451.667 228.969 451.607 229.137 451.546C232.736 450.246 237.354 446.781 240.705 444.267C241.197 443.897 241.663 443.548 242.093 443.23C244.146 441.722 245.738 439.465 247.295 437.256C248.837 435.071 250.345 432.932 252.233 431.614C257.612 427.855 263.192 424.341 268.803 420.868C268.753 422.397 269.001 424.286 269.65 426.657C269.695 426.808 269.74 427.094 269.755 427.23C270.101 429.511 272.044 432.06 273.979 434.599C274.907 435.816 275.833 437.031 276.58 438.213C287.036 454.816 292.384 458.401 296.091 451.652C296.82 450.341 298.337 449.879 299.816 449.428C299.986 449.376 300.156 449.324 300.324 449.271C303.63 448.244 307.776 445.213 310.78 443.018L310.785 443.014C311.216 442.7 311.623 442.402 312.001 442.13C313.828 440.816 315.198 438.763 316.539 436.754C317.872 434.756 319.177 432.801 320.875 431.659C326.637 427.776 332.681 424.241 338.725 420.707L338.725 420.707C341.404 419.141 344.083 417.574 346.737 415.977C347.358 416.851 347.955 417.715 348.476 418.55C358.812 435.137 363.633 439.22 366.088 433.736C366.577 432.65 367.801 432.481 369.009 432.315C369.141 432.297 369.272 432.279 369.403 432.26C372.03 431.872 375.135 429.861 377.429 428.375C377.806 428.131 378.161 427.901 378.488 427.695C379.892 426.804 380.843 425.179 381.773 423.588C382.699 422.004 383.606 420.454 384.921 419.695C389.376 417.119 394.098 414.902 398.82 412.686C405.948 409.341 413.073 405.996 419.272 401.419C426.186 396.319 432.283 390.144 438.379 383.968C442.818 379.473 447.256 374.977 452.011 370.896C458.279 365.515 464.865 360.542 471.451 355.568C477.48 351.014 483.51 346.459 489.299 341.592C493.69 337.898 498.295 334.488 502.9 331.078C512.438 324.016 521.976 316.953 529.616 307.362C535.377 300.121 543.59 296.016 551.798 291.913C554.623 290.501 557.447 289.089 560.17 287.55C564.57 285.064 560.939 274.849 550.317 260.642C546.107 255.002 542.965 252.18 540.529 250.884C540.653 250.809 540.777 250.733 540.901 250.658C544.533 248.442 548.164 246.228 551.687 243.89C557.352 240.123 554.264 229.321 543.16 215.475C533.209 203.079 528.044 205.826 524.509 207.706C524.255 207.842 524.009 207.972 523.77 208.093C520.531 209.735 517.36 211.463 514.248 213.266C515.32 207.635 511.663 198.987 503.506 188.929C493.469 176.569 487.746 179.835 483.843 182.062C483.569 182.218 483.303 182.37 483.046 182.51C457.961 196.175 436.266 214.059 414.902 232.349C412.673 234.258 410.101 236.372 407.422 238.529C411.736 234.415 416.131 230.391 420.526 226.367L420.527 226.366C433.545 214.448 446.563 202.529 457.448 188.28C465.65 177.535 476.626 169.64 487.594 161.75C491.375 159.03 495.155 156.312 498.82 153.477C504.726 148.912 501.26 138.034 489.298 124.927C488.135 123.652 487.035 122.557 485.992 121.619C489.161 119.573 492.365 117.57 495.568 115.567L495.57 115.566C500.2 112.67 504.829 109.775 509.352 106.755C516.629 101.904 514.715 90.2729 503.913 76.2012C494.228 63.5931 487.717 67.2586 483.266 69.7643C482.946 69.9445 482.637 70.1186 482.338 70.2802C460.804 81.9581 441.126 96.0865 422.053 111.003C420.003 107.203 416.973 102.88 413.004 98.1966C406.789 90.8697 402.584 88.9204 399.506 88.9219C397.306 84.9151 393.9 80.1286 389.366 74.785C385.386 70.0995 382.351 67.5094 379.969 66.1709C379.224 60.9885 375.319 53.7127 368.453 45.2545C358.427 32.9083 353.506 35.4975 350.138 37.2696C349.898 37.3961 349.665 37.5185 349.439 37.631C341.524 41.5749 334.064 46.0846 326.909 50.9725C325.957 49.921 324.95 48.8434 323.889 47.742C313.779 37.245 309.834 38.056 307.302 39.3313C296.754 27.9824 292.739 30.1928 289.992 31.705C289.794 31.814 289.602 31.9194 289.416 32.0158C289.31 32.0703 289.205 32.1249 289.1 32.1796C287.476 29.4047 285.339 26.3642 282.704 23.1186C280.802 19.087 277.799 14.4644 273.734 9.44404C263.735 -2.93171 258.58 -0.158529 255.058 1.73588C254.807 1.87096 254.564 2.00157 254.328 2.12191C231.699 13.6927 212.445 29.482 193.537 45.6781C187.676 50.6859 179.102 57.2555 173.347 61.665L173.347 61.6653L173.346 61.6657Z"
        fill="white"
      />
    </svg> */
    }
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="visual"
    viewBox="0 0 900 600"
    width="900"
    height="600"
    class="absolute top-0 left-0 z-[-1] w-full h-full opacity-20"
    version="1.1"
  >
    <path
      d="M0 268L56 268L56 255L113 255L113 387L169 387L169 289L225 289L225 501L281 501L281 409L338 409L338 376L394 376L394 229L450 229L450 394L506 394L506 361L563 361L563 175L619 175L619 275L675 275L675 398L731 398L731 161L788 161L788 237L844 237L844 300L900 300"
      fill="none"
      stroke-linecap="square"
      stroke-linejoin="miter"
      stroke="#b3eaff"
      stroke-width="40"></path>
  </svg>
</section>
