---
import { Typewritter } from '~/components/react/typewritter';

const { class: string, ...props } = Astro.props;
---

<section
  class:list={['relative flex flex-grow py-5 px-5 md:px-20 md:h-screen', props.class]}
  ,
  {...props}
>
  <div class="mt-10 flex h-fit w-full justify-center rounded-2xl text-left md:mt-0 md:h-full">
    <div class="mx-auto md:mt-52 flex flex-col space-y-5">
      <div class="flex w-fit flex-col">
        <h2 class="text-2xl font-thin uppercase tracking-widest">@hadronomy</h2>
        <h1 class="mt-2 text-6xl md:text-8xl">
          <span class="font-bellota">I&apos;m </span>
          <span class="font-semibold">Pablo</span>
        </h1>
        <h1 class="font-bellota text-6xl font-semibold md:text-8xl">Hernandez</h1>
      </div>
      <h2 class="h-[80px] max-w-[12ch] text-2xl md:text-4xl md:max-w-[19ch]">
        <Typewritter client:load />
      </h2>
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="visual"
    viewBox="0 0 900 600"
    width="900"
    height="600"
    class="absolute top-0 left-0 z-[-1] w-full h-full opacity-20"
    version="1.1"
  >
    <path
      d="M0 268L56 268L56 255L113 255L113 387L169 387L169 289L225 289L225 501L281 501L281 409L338 409L338 376L394 376L394 229L450 229L450 394L506 394L506 361L563 361L563 175L619 175L619 275L675 275L675 398L731 398L731 161L788 161L788 237L844 237L844 300L900 300"
      fill="none"
      stroke-linecap="square"
      stroke-linejoin="miter"
      stroke="#b3eaff"
      stroke-width="40"></path>
  </svg>
</section>
